In [2]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_diabetes

In [3]:
diabet = load_diabetes()
num_diabet = diabet.data
outcome = diabet.target
var_names = diabet.feature_names

In [4]:
num_diabet.shape

(442, 10)

In [5]:
outcome.shape

(442,)

In [6]:
var_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [7]:
outcome_mean = outcome.mean()
outcome_mean

152.13348416289594

In [10]:
outcome_median = np.median(outcome)
outcome_median

140.5

In [12]:
# numer of elements in outcome greater than 100
greater_100 = np.count_nonzero(outcome > 100,axis = 0)
greater_100

294

In [21]:
ages = []
for i in range(len(num_diabet)):
    age = num_diabet[i][0]
    ages.append(age)
ages = np.array(ages)

# number of unique age values in num_diabet
unique_age = len(np.unique(ages))
unique_age

58

In [22]:
perc_age = []
for i in range(1,4):
    p = np.percentile(ages, 25*i,axis=0)
    perc_age.append(p)
perc_age = np.array(perc_age)
perc_age

array([-0.03729927,  0.00538306,  0.03807591])

In [35]:
age_category = []
for i in range(len(ages)):
    if ages[i] < perc_age[0]:
        age_category.append(0)
    elif ages[i] < perc_age[1]:
        age_category.append(1)
    elif ages[i] < perc_age[2]:
        age_category.append(2)
    elif ages[i] >= perc_age[2]:
        age_category.append(3)
age_category = np.array(age_category)
#np.unique(age_category,return_counts = True)
age_category

array([3, 1, 3, 0, 2, 0, 0, 3, 3, 0, 0, 2, 2, 2, 3, 0, 1, 3, 0, 1, 0, 0,
       0, 3, 0, 0, 0, 1, 3, 3, 0, 1, 2, 2, 2, 3, 2, 1, 1, 1, 2, 0, 0, 2,
       3, 2, 0, 0, 3, 0, 2, 3, 0, 1, 0, 0, 0, 1, 3, 3, 0, 0, 1, 1, 3, 0,
       1, 3, 3, 2, 1, 1, 3, 2, 2, 1, 1, 0, 2, 0, 3, 2, 1, 0, 1, 3, 0, 3,
       0, 0, 2, 3, 1, 0, 0, 0, 3, 1, 1, 1, 2, 2, 0, 3, 1, 2, 0, 2, 2, 3,
       3, 2, 0, 2, 2, 1, 3, 3, 0, 2, 0, 3, 3, 2, 1, 1, 0, 2, 0, 2, 0, 0,
       2, 0, 0, 1, 0, 2, 2, 2, 3, 1, 3, 1, 2, 0, 1, 0, 0, 0, 2, 1, 1, 3,
       3, 1, 1, 1, 1, 1, 1, 0, 0, 2, 3, 0, 0, 3, 1, 1, 2, 1, 3, 0, 2, 3,
       3, 3, 3, 1, 0, 3, 3, 3, 2, 0, 0, 0, 2, 1, 2, 1, 3, 2, 0, 2, 1, 3,
       0, 3, 3, 1, 3, 1, 3, 1, 1, 2, 2, 3, 2, 3, 3, 1, 2, 2, 2, 3, 0, 0,
       2, 0, 1, 0, 1, 2, 0, 3, 0, 1, 0, 2, 2, 3, 3, 3, 2, 3, 2, 2, 3, 2,
       0, 2, 0, 1, 3, 0, 0, 1, 3, 0, 2, 3, 2, 1, 0, 1, 3, 2, 3, 3, 1, 0,
       2, 1, 0, 3, 3, 2, 2, 3, 2, 3, 2, 1, 2, 1, 3, 3, 2, 0, 3, 1, 3, 2,
       0, 3, 3, 0, 3, 3, 2, 0, 2, 0, 3, 1, 2, 3, 2, 1, 2, 3, 3, 1, 2, 3,
       1, 1, 1, 3, 0, 3, 1, 2, 2, 2, 3, 2, 1, 3, 2, 3, 2, 1, 3, 3, 0, 1,
       2, 3, 2, 2, 0, 2, 1, 2, 0, 2, 1, 2, 3, 1, 0, 3, 2, 3, 2, 1, 1, 0,
       2, 0, 1, 0, 1, 0, 1, 3, 2, 3, 2, 0, 1, 2, 0, 1, 1, 1, 2, 3, 1, 0,
       0, 3, 1, 2, 2, 1, 2, 0, 3, 2, 2, 2, 2, 0, 3, 1, 2, 1, 0, 0, 2, 0,
       0, 3, 2, 3, 1, 2, 3, 1, 1, 3, 0, 2, 3, 0, 1, 2, 3, 0, 3, 1, 1, 0,
       2, 1, 2, 3, 0, 2, 1, 0, 2, 1, 3, 0, 1, 3, 2, 1, 2, 1, 0, 3, 1, 3,
       0, 0])

In [41]:
df = pd.DataFrame({'age_category' : age_category,'outcome' : outcome})
df

     age_category  outcome
0               3    151.0
1               1     75.0
2               3    141.0
3               0    206.0
4               2    135.0
..            ...      ...
437             3    178.0
438             1    104.0
439             3    132.0
440             0    220.0
441             0     57.0

[442 rows x 2 columns]

In [42]:
df.groupby(age_category).mean()

   age_category     outcome
0             0  135.549550
1             1  137.961165
2             2  164.773913
3             3  168.477876